<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/js/script.js" type="module"></script>
</head>
<body>
    <header>      
        <h1 class="banner">Profile</h1>
    </header>
    <nav>
        <a href="/users/home/<%= useremail %>">Home</a>
        <a href="/about-us.html">About us</a>
        <a href="/recipes.html">Recipes</a>
        <a href="/users/message-box/<%= useremail %>">Check your messages</a>
    </nav>

    <h2><%=fname%>'s profile</h2>
    <ul>
        <li><strong>First name:</strong> <%=fname%></li>
        <li><strong>Last name:</strong> <%=lname%></li>
        <li><strong>Age:</strong> <%=age%></li>
        <li><strong>E-mail address:</strong> <%=email%></li>
        <li><strong>Photo:</strong> <img src="<%=photo%>" alt="photo" width="100"></li>
        <li><strong>Program / Major:</strong> <%= program %></li>
        <li><strong>Hobbies:</strong> <%=hobbies%></li>
    </ul>
    <button class ="button-style">Send friendrequest</button>
</body>
</html>