<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/js/script.js" type="module"></script>
</head>
<body>
    <header class="banner">
        <h1 class="banner">Web For Cooking</h1>
    </header>
    <h2 class="introduction__catch-phrase">Welcome <%= firstname %>  <%= lastname %></h2>
    <nav>
        <a href="/users/home/<%= email %>">Home</a>
        <a href="/about-us.html">About us</a>
        <a href="/recipes.html">Recipes</a>
        <menu class="dropdown">
            <span id="profile-button">Profile</span>
            <div class="dropdown-content">
                <a href="/users/profile/<%= email %>">Edit Profile</a>
                <a href="/users/courses/<%= email %>">My Courses</a>
                <a href="#">Friends</a>
                <a href="/users/message-box/<%= email %>">Check your messages</a>
                <a href="/users/write-message">Write messages</a>
            </div>
        </menu>
    </nav>

    <main>
        <h2>Your Courses:</h2>
        <% if (courses.length > 0) { %>
            <ul>
                <% courses.forEach(course => { %>
                    <li>
                        <a href="/users/courses/course/<%= encodeURIComponent(course.course_name) %>">
                            <%= course.course_name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>You are not enrolled in any courses.</p>
        <% } %>

    </main>
</body>
</html>