<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/js/script.js" type="module"></script>
  </head>
  <body>
    <header class="banner">
      <h1 class="banner">Web For Cooking</h1>
    </header>
    <h2 class="introduction__catch-phrase">
      Welcome <%= firstname %> <%= lastname %>
    </h2>
    <nav>
      <a href="/users/home/<%= email %>">Home</a>
      <a href="/users/profile/<%= email %>">View Profile</a>
      <a href="/users/profile/edit/<%= email %>">Edit Profile</a>
      <a href="/users/courses/<%= email %>">My Courses</a>
      <a href="/users/friends/<%= email %>">Friends</a>
      <a href="/users/message-box/<%= email %>">Check your messages</a>
      <a href="/users/write-message">Write messages</a>
    </nav>

    <main>
      <section class="introduction">
        <h2 class="introduction__catch-phrase">
          Welcome to web for cooking — a journey through flavors and history.
        </h2>
        <p class="introduction__text">
          Cooking is more than just making meals — it's a story told through
          ingredients, flavors and traditions. At web for cooking, we explore
          the rich history behind the ingredients you use every day while
          sharing delicious recipes that bring them to life.
          <br />
          Discover the origins of your favorite spices, the cultural
          significance of staple foods, and how different cuisines have evolved
          over time. Whether you're here to try a new dish or learn about the
          history of an ingredient, we invite you to savor the stories behind
          every bite.
          <br /><br />
          Let's cook, learn and celebrate food together!
        </p>
      </section>

      <section class="news">
        <h2>Culinary news of the month</h2>

        <article class="news__art1">
          <h3>What to cook in February</h3>
          <section class="article-container">
            <aside class="news__art1-aside">
              <p>
                February may be the heart of winter, but it's also a great time
                to cook with fresh, seasonal ingredients that bring warmth and
                comfort to your table. Root vegetable like carrots, parsnips,
                and sweet potatoes are at their peak, perfect for roasting or
                adding to hearty stews. Leafy greens such as kale and Swiss
                chard provide a boost of nutrition, while citrus fruits like
                oranges and grapefruits add a refreshing brightness to both
                sweet and savory dishes.
              </p>
              <p>
                If you still don't know wich dish is right for you, DELICIOUS is
                here to help! On their website, you'll find a variety of meals
                perfect for the month of February, featuring seasonal
                ingredients and comforting flavors.
              </p>
              <p>
                If you're still hesitant, don't worry—we've picked three
                delicious recipies from their collection that we absolutely
                approve of. Give them a try and enjoy the best flavors this
                season has to offer!
              </p>

              <dl class="news__art1__suggestions">
                <dt>Rhubarb, rose and pistachio crumble</dt>
                <dd>
                  This easy to make yet sophisticated dish offers a delightful
                  balance of tart rhubarb and fragrant flavors, perfect for a
                  comforting treat
                </dd>

                <dt>Lime marmalade</dt>
                <dd>
                  This easy-to-follow recipe captures the essence of fresh
                  limes, resulting in a golden-hued marmalade that's both sweet
                  and tart, making it a delightful addition to your pantry
                </dd>

                <dt>Speedy anchovy and broccoli pasta</dt>
                <dd>
                  Packed with the savory taste of anchovies and the freshness of
                  broccoli, this budget-friendly recipe come together quickly,
                  making it a go-to meal when you want something tasty without
                  breaking the bank. A perfect balance of salty, tangy, and
                  wholesome!
                </dd>
              </dl>
            </aside>

            <figure class="news__art1__img">
              <img
                class="recipe-img"
                src="/pictures/article1.jpg"
                alt="Seasonal product february"
              />
              <figcaption>
                Want to know more about the recipies? Go check their
                <a
                  href="https://www.deliciousmagazine.co.uk/collections/february-seasonal-food/"
                  target="_blank"
                  >website</a
                >
              </figcaption>
            </figure>
          </section>
        </article>

        <article class="news__art2">
          <h3>Street food festival the 21/02 in Amsterdam</h3>
          <section class="article-container">
            <aside>
              <p>
                If there is one date in february that a foodie should not
                forget, it's of course the deck Streetfood festival. It's a two
                hour experience where you will discover street food inspired
                dishes from all over the world. Don't wait and book a
                <a href="https://www.deckamsterdam.com/events" target="_blank"
                  >table</a
                >!
              </p>
            </aside>

            <figure class="news__art2__img">
              <img
                class="recipe-img"
                src="/pictures/article2.jpg"
                alt="Street food festival"
              />
              <figcaption>
                Want to know more about the festival? Go check their
                <a
                  href="https://www.instagram.com/deckamsterdam/"
                  target="_blank"
                  >instagram account</a
                >!
              </figcaption>
            </figure>
          </section>
        </article>
      </section>
    </main>
  </body>
</html>
